{% extends 'portal/base_app_page.html' %}
{% load static %}
<!-- {% load km001_extra %} -->

{% block app_name %}
杏福信息系統 vs 金碟ERP軟件

{% endblock%}

{% block page_name %}
全面性比較
{% endblock%}



{% block content %}

<table class='gridtable'>
        <tr>
                <th></th>
                <th>關切主題</th>
                <th width='45%'>杏福信息系統</th>
                <th width='45%'>金碟ERP軟件</th>
        </tr>
        <tr>
                <th>1</th>
                <td>使用目的</td>
                <td>企業管理統一信息平台，不重覆ERP涵蓋的區塊，可以是進入ERP的管理數據，也可以是在ERP的報表給予滙整和分析。</td>
                <td>為滿足財務全方位作業，所有直接體現在財務報表的基礎數據都應錄入系統。</td>
        </tr>
        <tr>
                <th>2</th>
                <td>面對對象</td>
                <td>所有員工，企業合作伙伴。</td>
                <td>ERP資料錄入人員及指定管理人員。</td>
        </tr>
        <tr>
                <th>3</th>
                <td>訪問方法</td>
                <td>Internet連網，當代主流流覽器即可使用。</td>
                <td>必需在局網同一網段，使用指定作業系統安裝客戶端。</td>
        </tr>
        <tr>
                <th>4</th>
                <td>部署方式</td>
                <td>租用云服務器。</td>
                <td>自購硬件服務器。</td>
        </tr>
        <tr>
                <th>5</th>
                <td>備註</td>
                <td>在企業還沒有標準的機房，沒有購置硬件服器，沒有固定IP，沒有擴展網路帶寬，即可部署服務器和應用，滿足 internet 連線即可全天訪問。</td>
                <td>剛新增的 DELL 硬件服務器，暫時開設於財務辦公室，上班開啟，下班關閉。在目前基本型的局網設署裡，非 ERP 用戶不予以接入同一網段。</td>
        </tr>

</table>
<br>
<div class='as-h3'>問與答：</div>

<ul>
        <li>这个服务器为什么要租用两台？</li>
        <ul>
                <li>1號機是正式環境，2號機是測試環境。</li>
                <li>當1號機有問題時，2號機可以立即轉成正式環境使用。1號機得以下線全面盤查檢修。</li>
                
        </ul>
<br>
        <li>就678三个月的服务费是1465.68，如果要维护这个系统，阿里云服务器是为什么不能用而要更换租用移动的？</li>
        <ul>
                <li>就技術規格而言移動云和阿里云都能滿足我們目前的需求。</li>
                <li>採用移動云是以公司合同做為企業帳號，對企業用戶有較佳折扣力度和支持。</li>

        </ul>

</ul>


{% endblock  %}