{% extends 'case002/base.html' %}
{% load static %}
{% block content %}

<h1><br>CASE001</h1>

<h2><br>a3v2</h2>
<a href='../'>回到目錄</a>
<table class='gridtable'>
    <tr>
   
        <td colspan=2 style='border-width: 0;'></td>
        <th colspan="3">2019年第三季</th>
        <th colspan="3">2019-07</th>
        <th colspan="3">2019-08</th>
        <th colspan="3">2019-09</th>
        
        </tr>
        <tr>
   
            <th></th>
            <th>地點</th>
            <th>天數</th>
            <th>人數</th>
            <th>人天</th>
            <th>天數</th>
            <th>人數</th>
            <th>人天</th>
            <th>天數</th>
            <th>人數</th>
            <th>人天</th>
            <th>天數</th>
            <th>人數</th>
            <th>人天</th>
            
            </tr>
                {% for x in list %}
    <tr>

        <th>{{forloop.counter}} </th>
        <td> {{x.place}} </td>
        <td align='right'> {{x.daycnt}} </td>
        <td align='right'> {{x.headcnt}} </td>
        <td align='right'> {{x.idcnt}} </td>
        <td align='right'> {{x.m1daycnt}} </td>
        <td align='right'> {{x.m1headcnt}} </td>
        <td align='right'> {{x.m1idcnt}} </td>
        <td align='right'> {{x.m2daycnt}} </td>
        <td align='right'> {{x.m2headcnt}} </td>
        <td align='right'> {{x.m2idcnt}} </td>
        <td align='right'> {{x.m3daycnt}} </td>
        <td align='right'> {{x.m3headcnt}} </td>
        <td align='right'> {{x.m3idcnt}} </td>
     </tr>

    {% endfor %}
</table>
<br>
<br>

{% endblock %}