<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

  <!-- MISDj CSS -->
  <link rel="stylesheet" href="/static/portal/bootstrap.min.css">
  <link rel="stylesheet" href="/static/portal/style.css">
  <title>TMC</title>
</head>

<body>
  <div class='container-fluid'>
    <h3>&nbsp;</h3>
<h1>WebApp for Toastmasters Club </h1>
    {% block content %}{% endblock %}
    <div class='page_footer'>
      <hr> &nbsp;&nbsp;&nbsp;query time：{% now "Y-m-d H:i:s" %}<hr> 
    </div>
  </div>
</body>

</html>