{% extends 'case005/base.html' %}
{% load static %}
{% block content %}


<a href='../'>Back to Index</a>
<hr>
<h2>Meeting Head Count</h2>
<table class='gridtable'>
    <tr>
   
    <th></th>
    <th>Date</th>
    <!-- <th>Type</th> -->
    <th>Head Count</th>
    
    </tr>
    {% for x in list1 %}
    <tr>

        <th>{{forloop.counter}} </th>
        <td>{{x.date1}} </td>
        <td align='right'>  <a href='{{x.date1}}/'>{{x.headcnt}}</a> </td>
     </tr>

    {% endfor %}
</table>

{% endblock %}