{% extends 'portal/basefluid_app.html' %}
{% load static %}
{% load humanize %}

{% block page_name %}
Club Index
{% endblock  %}

{% block content %}
<table class='gridtable'>
    <tr>
        <th></th>
        <th>Club </th>
        <!-- <th>Count</th> -->
    </tr>
    {% for x in list1 %}
    <tr>
        <th>{{forloop.counter}}</th>
        <td><a href='{{x.club}}' /> {{x.club__name}}</a>
        </td>
        <!-- <td align='right'>
            {{x.datecnt}}
        </td> -->


    </tr>

    {% endfor  %}
</table>
<!-- <br>
<i>Note: Count is Meeting Numbers in this app.</i> -->

{% endblock %}