{% extends 'case005/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<hr>
<h2>Ver 1</h2>
<h3>
    <ul style='font-family:  Courier, monospace;'>

        <li>(1)<a href='s1/'>Meeting </a>
        </li>
        
        <li>(2)<a href='s2/'>Member</a></li>
        <li>(3)<a href='s3/'>Meeting Roles</a></li>
        <li>(4)<a href='s4/'>Speaker & IE</a></li>
        <li>(5)<a href='best/'>Meeting Best</a></li>

    </ul>
</h3>
<hr>

<h2>Ver 2</h2>
<h3>
    <ul style='font-family:  Courier, monospace;'>

        <li>(1)<a href='headcnt/'>Meeting Head Count</a>
        </li>
        <li>(2)<a href='rolecnt/'>Meeting Role Count</a>
        </li>
        
        <!-- <li>(2)<a href='s2/'>Member</a></li>
        <li>(3)<a href='s3/'>Meeting Roles</a></li>
        <li>(4)<a href='s4/'>Speaker & IE</a></li>
        <li>(5)<a href='best/'>Meeting Best</a></li> -->

    </ul>
</h3>


{% endblock %}