{% extends 'case005/base.html' %}
{% load static %}
{% load case001_extra %}
{% block content %}


<a href='../'>Back to Index</a>
<hr>
<h2>Speaker & IE</h2>
<hr>

<table class='gridtable'>
    <tr>
   
    <th></th>
    <!-- <th>Name</th> -->
    <th>Date</th>
    <th>Speaker</th>
    <th>IE</th>
    
    </tr>
    {% for x in list1 %}
    <tr>

        <th>{{forloop.counter}} </th>
        <!-- <td > {{x.name}}</a> </td> -->
        <td > {{x.date1}}</a> </td>
        <td > {{x.speaker}}</a> </td>
        <td > {{x.ie}}</a> </td>
       </tr>

    {% endfor %}
</table>
<br>
<br>

{% endblock %}